* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(rgba(32, 32, 33, 0.9), rgba(32, 32, 33, 0.9)),
  url("../blacksnake.jpeg");
  background-size: cover;
  background-attachment: fixed;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

h1 {
  margin-top: 20px;
}

.timer {
  padding: 10px;
}

button {
  height: 40px;
  padding: 10px 30px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 20px
}

button:hover {
  background: black;
  color: white;
}

#start_btn {
  height: 40px;
  padding: 10px 30px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

.game_board {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  background-color: #716F71;
  max-width: 80%;
  padding: 0.6rem;
  margin-top: 20px;
}

.card {
  position: relative;
  height: 4.5rem;
  width: 4.5rem;
  background: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0.6rem;
  border-radius: 3px;

}

.front,
.back {
  position: absolute;
  height: 4.5rem;
  width: 4.5rem;
  backface-visibility: hidden;
}

.front {
  /* border: 1px black solid; */
  border-radius: 3px;
}

.back {
  transform: rotateY(180deg);
  border-radius: 3px;
  width: 100%;
}

.card:hover {
  box-shadow: 0px 0px 15px 2px rgba(255, 255, 255, 0.808);
  cursor: pointer;
}

.card.show:hover {
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  transition: 0.7s ease;
  box-shadow: 0px 0px 10px 2px black;
}

.card.disabled {
  pointer-events: none;
}

.open {
  box-shadow: 0px 0px 15px 2px black;
}

.red.open,
.red.matched {
  background-color: red;
  color: white;
}

.orange.open,
.orange.matched {
  background-color: orange;
}

.yellow.open,
.yellow.matched {
  background-color: yellow;
}

.green.open,
.green.matched {
  background-color: green;
}

.blue.open,
.blue.matched {
  background-color: blue;
}

.purple.open,
.purple.matched {
  background-color: purple;
}

.pink.open,
.pink.matched {
  background-color: pink;
}

.hotpink.open,
.hotpink.matched {
  background-color: hotpink;
}

.matched {
  box-shadow: 0px 0px 25px 4px rgb(212,175,55);
  transform: rotate(1turn);
  transition: 0.3s linear;
}

.removed {
  visibility: hidden;
}

.deck.disabled {
  background: rgba(0, 0, 0, 0.9);
  pointer-events: none;
}

@media only screen and (min-width: 580px) {

  .card {
    height: 5.5rem;
    width: 5.5rem;  
  }
  
  .front,
  .back {
    height: 5.5rem;
    width: 5.5rem;
  }


}

@media only screen and (min-width: 768px) {

  .game_board {
    width: 610px;
    max-width: none;
  }

  .card {
    height: 6.5rem;
    width: 6.5rem;  
  }
  
  .front,
  .back {
    height: 6.5rem;
    width: 6.5rem;
  }
}


